###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=03d4d9262a814a6db8797b0f70a48d588538b71f21634dcbb03688d2583851f9
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
#requesterEmail=user@provider.com

projectName=cleanprestep
projectVersion=2.52
projectToken=

productName=my-app
productVersion=
productToken=

#projectPerFolder=true
#projectPerFolderIncludes=
#projectPerFolderExcludes=

#wss.connectionTimeoutMinutes=60

# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
#wss.url=https://saas.whitesourcesoftware.com/agent
wss.url=https://app.whitesourcesoftware.com/agent
#wss.url=https://app-eu.whitesourcesoftware.com/agent

#enableImpactAnalysis=true

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
#updateInventory=false

###########
# General #
###########
#offline=false
#updateType=APPEND
#ignoreSourceFiles=true
#scanComment=
#failErrorLevel=ALL
requireKnownSha1=false

#generateProjectDetailsJson=true
#generateScanReport=true
#scanReportTimeoutMinutes=10
#scanReportFilenameFormat=

#analyzeFrameworks=true
#analyzeFrameworksReference=

#updateEmptyProject=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model



maven.ignoredScopes=None #test provided
maven.resolveDependencies=true
#maven.ignoreSourceFiles=true
maven.aggregateModules=true
#maven.ignorePomModules=false

#Runs - clean install
#maven.runPreStep=true

maven.ignoreMvnTreeErrors=false
#maven.environmentPath=
#maven.m2RepositoryPath=
#maven.downloadMissingDependencies=false
#maven.additionalArguments=

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx

#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

includes=**/*.aar **/*.air **/*.apk **/*.asp **/*.aspx **/*.c **/*.c++ **/*.cc **/*.class **/*.clj **/*.cljc **/*.cljs **/*.cljx **/*.cp **/*.cpp **/*.cs **/*.cshtml **/*.csproj **/*.css **/*.cxx **/*.deb **/*.dll **/*.dmg **/*.drpm **/*.ear **/*.egg **/*.ejb **/*.ex **/*.exe **/*.gem **/*.go **/*.goc **/*.gzip **/*.h **/*.hh **/*.hpp **/*.html **/*.hxx **/*.jar **/*.java **/*.jl **/*.js **/*.json **/*.m **/*.mcgi **/*.mm **/*.msi **/*.nupkg **/*.pch **/*.php */*.pl **/*.pm **/*.py **/*.r **/*.rb **/*.rpm **/*.swc **/*.swf **/*.swift **/*.tar.bz2 **/*.tar.gz **/*.tgz **/*.udeb **/*.war **/*.whl **/*.zip

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

######################
# Archive properties #
######################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar